*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    background-color: #fff;
    color: #555;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.row{
    width: 1140px;
    margin: 0 auto;
}
/**********************/
/*Header and Basic Setup*/
/**********************/
header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.54),rgba(0, 0, 0, 0.55))/*Adding Image Over With Gradient*/, url(img/hero.jpg);
    background-size: cover; /*Image To Fit*/
    background-position: center; /*Centering Image*/
    height: 100vh;
    background-attachment: fixed;
}

h1{
    margin: 0;
    font-size: 240%; /*It will resize their size according to Html font-size*/
    font-weight: 300;  /*Changing Font Thickness*/
    text-transform: uppercase;  /*Text Transform UpperCase */
    letter-spacing: 1px;  /*letter Spacing*/
    word-spacing: 4px;  /*Words Spacing*/
}

.hero-text-box{
    position: absolute;  /* Adjust Size with according you */
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  /*Scaling down images, rotating, etc*/
    color: white;
}

/**********************/
/*Button Customization*/
/**********************/

.btn:link,.btn:visited{
    display: inline-block; /*Button Overlaping Fix in one line*/
    margin-top: 5px;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 2.2s, border 0.2s, color 0.2s, margin-right 1s ease-in-out; /*Transition use to set the time between changing*/
    
}

.btn-full:link:hover, .btn-full:visited:hover{
    background-color: #cf6d17;
    color: white;
    border: 1px solid #fff;
    margin-right: 10px;
}

.btn-full:link,.btn-full:visited{
    background-color: #e67e22;
    color: white;
    border: 1px solid white;
}

.btn-ghost:link,.btn-ghost:visited{
    background-color: #fff;
    border: 1px solid black;
    color: #000;
}

.btn-ghost:link:hover,.btn-ghost:visited:hover{
    background-color: #111;
    color: #fff;
    border: 1px solid #fff;
}


/*Logo Design*/

.logo{
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

/*Main Navbar*/

.main-nav{
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li{
    display: inline-block;
    float: left;
    padding: 5px 15px;
    margin-left: 40px;
}

.main-nav li a:link, .main-nav li a:visited{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 90%;  /* Font Percentange based on Html 18px Font-size*/
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;  /*Main Problem - It will allow your border best*/
    transition: border-bottom 0.2s;
}

.main-nav li a:hover, .main-nav li a:active{
    border-bottom: 2px solid #cf6d17;
}

.section-feature {
    margin: 0px 0px;
    padding: 40px;
    transition: background-color 1.0s;
}

.section-feature:hover{
    background-color: #000;
    color: #fff;
}

.long-copy{
    padding: 10px 0px;
    width: 70%;
    text-align: center;
    margin: 10px auto;
}

.section-feature{
    text-align: center;
}

.section-feature .row{
    border-bottom: 1px solid #000;
}


section h3,h2{
    padding-bottom: 0px;
    text-transform: uppercase;
    margin-bottom: 30px;
    text-align: center;
    
}

h2:after{    /*Content just after h2 tag*/
    display: block;  /* display this as a block */
    height: 2px;   /*Keep the height 2px*/
    background-color: #e67e22;  
    content: " ";  /* h2:after block we don't want to write anything */
    width:100px;   /* H2 size according 100px */
    margin: 0 auto;
    margin-top: 30px;
}

.section-feature p{
    text-transform: capitalize;
    font-size: 90%;
    word-spacing: 2px;
    line-height: 22px;
    font-weight: 300;
}


/************************/
/*****Section Meals******/
/************************/

.section-meals{
    padding-top: 0px;
}

.meals-showcase {
    list-style: none;
    width: 100%;  /* Full Size Ul list*/
    margin: 0px auto; /*Margin 0 and center */
}

.meals-showcase li {
    display: block;  /*Li each block*/
    float: left;  /*left goes float */
    width: 25%;  /* 25% of full meal-case (100%) */
}

.meal-photo{  
    width: 100%;   /* width 100% = mealcase li 25% */
    overflow: hidden;  /*Overlaping Image Hover Fix and It will fix it inside the box Not Overlap the box*/
    /* overflow - Nothing inside this box will be goes beyond the width (hidden)*/
    margin: 0;  /*Margin is 0*/
    background-color: #000;
}

.meal-photo img{
    opacity: 0.7;
    width: 100%;  /*Means It will adjust size according to there parents meal-showcase li*/  /*Image Photo 100% = meal photo*/
    height: auto;  
    transform: scale(1.15);   /* Scale 1.5 but uder the boundries = overflow*/
    transition: transform 0.5s, opacity 0.5s ; /*Animation*/
}

.meal-photo img:hover{
    transform: scale(1.03);  /* Hover Scale down 1.03*/
    opacity: 1;
}

.section-steps{
    width: 100%;
    margin: 0 auto;
    background-color: #e5e5e5;
}

.section-steps h2{
    padding-top:30px;
}

.app-screen{
    width: 49%;
    margin: 0px auto;
    margin-left: 25%;
}
.steps-box{
    margin-top: 3px;
}

.steps-box:last-child{
    margin-top: 15%;
}

.work-steps{
    margin-bottom: 30px;
}

.work-steps div{
    color: #e67e22;
    border: 2px solid #e67e22;
    display: inline-block;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    float: left;
}

.work-steps div:hover {
    background-color: #e67e22;
    color: #fff;
}

.work-steps p{
    font-weight: 300;
}

/*Clearfix Property- To Apply Margin after Image gallery*/

.clearfix{zoom: 1}
.clearfix:after{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

















































